body{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.fondo{
    position: fixed;
    z-index: -1;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 65%;
}

/*header y menú*/

header{
    align-self: center;
}
.navmenu{
    border-radius: 10px;
    width: 1150px;    
    margin: 25px;
    padding: 5px;
    display: flex;
    background-color: rgb(42, 24, 39);
    opacity: 87%;
    align-items: center;
    justify-content: end;
}
.options{
    text-decoration: none;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: beige;
    margin: 6px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
.options:hover{
   color: rgb(197, 188, 198);;
}

/*DESCRIPCIÓN E IMAGEN*/
.descp-cont{
    display: flex;
    flex-direction: row;
    background-color: rgb(12, 2, 11);
    opacity: 90%;
    width: 1070px;
    align-self: center;
    margin-bottom: 25px;
    border-radius: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.description{
    margin: 0%;
    max-width: 500px;
    font-family: "Pixelify Sans", sans-serif;
}
.description h1{
    font-size: 40px;
    color: beige;
}
.description p{
    font-size: 20px;
    color: rgb(197, 188, 198);
}
.me{
    width: 400px;
    height: auto;
}


/*CONTENEDORES CON INFO*/

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.card{
    background-color: rgb(12, 2, 11);
    opacity: 90%;
    font-size: large;
    color: beige;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    font-family: "Pixelify Sans", sans-serif;
    max-width: 300px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 200px;
    height: auto;
}

.wave{
    font-size: 60px;
    color: rgb(149, 113, 183);
    display: flex;
    gap: 5px; /* Espacio entre letras */
    font-size: 60px;
    color: rgb(136, 84, 184);
    text-shadow: 2px 2px 0px rgb(77, 32, 128), 
                 4px 4px 0px rgb(47, 12, 77), 
                 6px 6px 5px rgb(183, 162, 173);
}

.wave span {
    display: inline-block;
    animation: wave 1.5s infinite ease-in-out;
}

/* Animación de la ola */
@keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); } 
}


.card a, .downloadcv a{
    color: pink;
    font-weight: 200;
    text-decoration: none;
}

.card h3, .card p, .card h1, .card a, .downloadcv h3, .downloadcv p, .downloadcv h1, .downloadcv a{
    margin: 4px; /* Elimina márgenes de ambos */
}

.card p{
    color: rgb(197, 188, 198);
}
