body{   
    display: flex;
    background-color: rgb(12, 2, 11);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fondo{
    position: fixed;
    z-index: -1;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 65%;
}


/*HEADER y MENU*/

header{
    justify-self: center;
}
.navmenu{
    border-radius: 10px;
    width: 1150px;    
    margin: 25px;
    padding: 5px;
    display: flex;
    background-color: rgb(42, 24, 39);
    opacity: 87%;
    align-items: center;
    justify-content: end;
}
.options{
    text-decoration: none;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: beige;
    margin: 6px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
.options:hover{
   color: rgb(197, 188, 198);;
}

/*project div*/
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.project{
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(12, 2, 11);
    opacity: 90%;
    height: 300px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.project h2{
    color: beige;
    font-size: 25px;
    font-family: "Pixelify Sans", sans-serif;
    padding: 0%;
    margin-bottom: 5px;
    text-align: center;
}
.project p{
    color:rgb(197, 188, 198);
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    padding: 0%;
    text-align: center;
    margin-top: 5px;
}

.project img{
    width: 180px;
    height: 100px;
    border-color: rgb(197, 188, 198);
    border-width: 5px;
    border-style:double;
    
}

.project:hover{
    transform: scale(1.2);
    box-shadow: 0 0 5px rgb(197, 188, 198), 0 0 10px rgb(197, 188, 198), 0 0 15px rgb(42, 24, 39);
}

/*animación neón*/
@keyframes neonGlow {
    0%, 100% {
        text-shadow: 0 0 5px rgb(197, 188, 198), 0 0 10px rgb(197, 188, 198), 0 0 15px rgb(42, 24, 39);
    }
    50% {
        text-shadow: 0 0 10px rgb(197, 188, 198), 0 0 20px rgb(197, 188, 198), 0 0 30px rgb(42, 24, 39);
    }
}
body h1{
    align-self: center;
    justify-self: center;
    width: 1100px;
    border-radius: 10px;
    color: beige;
    font-size: 40px;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 0 0 5px rgb(197, 188, 198), 0 0 10px rgb(197, 188, 198), 0 0 15px rgb(42, 24, 39);
    animation: neonGlow 2s infinite alternate;
}

.project{
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(12, 2, 11);
    opacity: 90%;
    height: 300px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

/*Experience div*/
.exp h2{
    color: beige;
    font-size: 28px;
    font-family: "Pixelify Sans", sans-serif;
    padding: 0%;
    margin-bottom: 5px;
    text-align: center;
}
.exp p{
    color:rgb(197, 188, 198);
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    padding: 0%;
    text-align: center;
    margin-top: 5px;
}
.exp h3{
    color:rgb(89, 59, 93);
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    padding: 0%;
    text-align: center;
    margin-top: 5px;
}
.experience{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.exp{
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(12, 2, 11);
    opacity: 90%;
    height: 320px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.exp:hover{
    transform: scale(1.2);
    box-shadow: 0 0 5px rgb(197, 188, 198), 0 0 10px rgb(197, 188, 198), 0 0 15px rgb(42, 24, 39);
}